# === PHP / Composer ===
/vendor/
.phpunit.result.cache
.php-cs-fixer.cache
phpdoc/

# === Environment & Secrets ===
.env
.env.local
.env.*.local
*.env.bak
config.local.php
.env*

# === IDEs & Editors ===
# JetBrains / PhpStorm
.idea/
*.iml

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json

# Sublime Text / Eclipse
*.sublime-project
*.sublime-workspace
.buildpath
.project
.settings/

# === OS Files ===
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# === Logs & Databases ===
*.log
/logs/
*.sqlite

# === Build / Frontend Assets ===
/node_modules/
/public/build/
/public/storage
/storage/*.key
.npm/
*.yarn-error.log

sql/backups/
sql/secret_santa_create_database.sql

misc_docs/*
test_config.php
genpwd.php

www/secret_santa_2.0/dev/secret_santa_env.conf
.rsync-config.json
CONTEXT.md
www/secret_santa_2.0/dev/test_config.php
www/secret_santa_2.0/dev/genpwd.php
nginx/site-confs/secretsanta-dev.conf